.footer {
    .container{
        width: 100%;
        max-width: 1460px;
        margin: auto;
        padding: 15px 40px;
        font-size: 16px;
        line-height: 1.8;
    }
}
@media screen and (max-width: 1365px), screen and (max-device-width: 1365px) {
    .footer {
        .container {
            padding: 15px 20px;
        }
    }
}